@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hover-underline-animation {
	position: relative;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.customShadow {
	text-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);
}

.helloButton {
	filter: drop-shadow(0px 2.82464px 21.1848px rgba(255, 255, 255, 0.5));
	position: relative;
	z-index: 1;
	border-radius: 2.82464px;
	padding: 8px 40px 17px 35px;
}
.helloButton:hover {
	filter: none;
}

.helloButton::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 7px;
	width: calc(100% - 5px);
	height: calc(100% - 9px);
	background-color: #070707;
	border: 0.706161px solid #ffffff;
	z-index: -2;
	border-radius: 2.82464px;
	transition: 300ms all;
}
.helloButton::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 5px);
	height: calc(100% - 9px);
	background-color: #ffffff;
	z-index: -1;
	border-radius: 2.82464px;
	transition: 300ms all;
}

.terminal::after {
	position: absolute;
	top: -2px;
	bottom: -2px;
	left: -2px;
	right: -2px;
	background: linear-gradient(
		309.02deg,
		#545454 2.35%,
		rgba(84, 84, 84, 0) 100%
	);
	content: "";
	z-index: -1;
	border-radius: 20px;
}
.codeTextArea {
	border: 0;
}
.codeTextArea:focus {
	outline: none;
}
#code.hide + i {
	display: none;
}

#code.error::placeholder {
	color: #ff453a;
}

#code {
	caret-color: transparent;
}
#code.hide {
	caret-color: white;
}

.cursor {
	position: relative;
}
.cursor i {
	position: absolute;
	width: 8px;
	height: 3px;
	background-color: white;
	left: 0px;
	top: calc(100% - 8px);
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.experienceHeading::after {
	/*  make a circle  */
	content: "";
	position: absolute;
	top: 5;
	left: -16px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
}

/* target every div with a specific class name when hovered on .card and change their scale */
.card:hover .cardNumber {
	transform: scale(1.17) translateY(-13%) translateX(17%);
}
.card:hover .cardBox {
	transform: scale(1.17);
}

.outlinedNumber {
	color: linear-gradient(158.17deg, #ffffff 14.3%, rgba(0, 0, 0, 0) 104.12%);
	-webkit-text-fill-color: black; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.6px;
	-webkit-text-stroke-color: linear-gradient(
		158.17deg,
		#ffffff 14.3%,
		rgba(0, 0, 0, 0) 104.12%
	);
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
