@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hover-underline-animation {
	position: relative;
}

.hover-underline-animation:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.customShadow {
	text-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);
}

.helloButton {
	filter: drop-shadow(0px 2.82464px 21.1848px rgba(255, 255, 255, 0.5));
	position: relative;
	z-index: 1;
	border-radius: 2.82464px;
	padding: 8px 40px 17px 35px;
}
.helloButton:hover {
	filter: none;
}

.helloButton::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 7px;
	width: calc(100% - 5px);
	height: calc(100% - 9px);
	background-color: #070707;
	border: 0.706161px solid #ffffff;
	z-index: -2;
	border-radius: 2.82464px;
	transition: 300ms all;
}
.helloButton::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: calc(100% - 5px);
	height: calc(100% - 9px);
	background-color: #ffffff;
	z-index: -1;
	border-radius: 2.82464px;
	transition: 300ms all;
}

.codeTextArea {
	border: 0;
}
.codeTextArea:focus {
	outline: none;
}
#code.hide + i {
	display: none;
}

#code.error::placeholder {
	color: #ff453a;
}

#code {
	caret-color: transparent;
}
#code.hide {
	caret-color: white;
}

.cursor {
	position: relative;
}
.cursor i {
	position: absolute;
	width: 8px;
	height: 3px;
	background-color: white;
	left: 0px;
	top: calc(100% - 8px);
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.experienceHeading::after {
	/*  make a circle  */
	content: "";
	position: absolute;
	top: 5;
	left: -16px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
}

.work-row::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 450px;
	background-image: linear-gradient(
		90.31deg,
		rgba(7, 7, 7, 0.95) 0.25%,
		rgba(7, 7, 7, 0) 104.18%
	);
	z-index: 4;
}
.work-row::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
	height: 450px;
	background-image: linear-gradient(
		270.31deg,
		rgba(7, 7, 7, 0.95) 0.25%,
		rgba(7, 7, 7, 0) 104.18%
	);
	z-index: 4;
}

.skillsCard::before {
	content: "";
	position: absolute;
	top: 79px;
	left: 18.5px;
	width: 269px;
	height: 333px;
	background-image: var(--skills-bg-color);
	backdrop-filter: blur(100px);
	border-radius: 50%;
	z-index: -1;
}

.navItems {
	transition: max-height 300ms ease-in-out, margin-top 300ms ease-in-out;
}

.slick-list {
	overflow: visible !important;
	overflow-x: clip !important;
	padding-left: 70px !important;

	/* TODO: add a padding left og 50px and remove the #card0  */
}

.slick-dots li.slick-active button:before {
	color: White !important;
}
.slick-dots li button:before {
	color: White !important;
}

.slick-dots {
	bottom: -50px !important;
}

.active .nav-link {
	/* color: red; */
	color: red;
	/* TODO: change this */
}
.outlinedNumber {
	background-color: #ffffff;
	transition-duration: 300ms;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 3.09px transparent;
}




/* media queries */

@media (min-width: 640px) {
	.cardNumber {
		transition-duration: 300ms;
	}
	.cardBox {
		transition-duration: 300ms;
	}

	.card:hover .cardNumber {
		transform: scale(1.17) translateY(-20%) translateX(12%);
		transition-delay: 500ms;
	}
	.card:hover .cardBox {
		transform: scale(1.17);
		transition-delay: 500ms;
	}

	#card0 .card:hover .cardBox {
		transform: scale(1.17) translateX(50px);
		transition-delay: 500ms;
	}

	#card0 .card:hover .cardNumber {
		transform: scale(1.17) translateY(-20%) translateX(calc(12% + 50px));
		transition-delay: 500ms;
	}

	.card:hover .outlinedNumber {
		background-color: #09f755;
		transition-delay: 500ms;
		transition-duration: 300ms;
	}

	.skillsCard::before {
		top: 105px;
		left: 34px;
		width: 556px;
		height: 448px;
	}
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
